@tailwind base;
@tailwind components;
@tailwind utilities;

.row-flex-justify-center {
  @apply flex flex-row justify-center items-center;
}

.row-flex-justify-between {
  @apply flex flex-row justify-between items-center;
}

.row-flex-justify-end {
  @apply flex flex-row justify-end items-center;
}

.row-flex-justify-start {
  @apply flex flex-row justify-start items-center;
}

.column-flex-items-start {
  @apply flex flex-col justify-center items-start;
}

.column-flex-items-center {
  @apply flex flex-col justify-center items-center;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.ant-carousel .slick-dots-bottom {
  display: none !important;
}

.slick-dots {
  display: none !important;
}
